h1 {
    text-align: center;
    color: green;
    width: 100px;
    margin: 10px auto;
  }
  .Contact_button {
    cursor: pointer;
    color: black;
    font-family: Strong;
    margin-right: 8px; 
    background-color: grey;
    transition: background-color 2s;
    box-shadow: 10px 10px 25px black;
  }
  .Contact_button:hover{
    background-color: white;
  }
  .Ideas-button {
    cursor: pointer;
    border-radius: 10%;
    background: linear-gradient(180deg, rgb(74, 14, 122) 0%, rgb(62, 113, 245) 50%, rgb(27, 27, 162) 100%);
    color: White;
    font-family: Strong;
    margin-right: 8px;
    box-shadow: 10px 10px 25px black;
  }
  .Ideas-button:hover{
    background: linear-gradient(180deg, rgb(0, 0, 255) 0%, rgb(0, 0, 255) 50%, rgb(0, 0, 255) 100%);
  }
  .Games-button {
    cursor: pointer;
    border-radius: 10%;
    background: linear-gradient(180deg, rgb(14, 122 , 74) 0%, rgb(113, 245, 62) 50%, rgb(27, 162, 27) 100%);
    color: red;
    font-family: Strong;
    margin-right: 8px;
    box-shadow: 10px 10px 25px black;
  }
  .Games-button:hover{
    background: linear-gradient(180deg, rgb(0, 255, 0) 0%, rgb(0, 255, 0) 50%, rgb(0, 255, 0) 100%);
  }
  .Art-button {
    cursor: pointer;
    border-radius: 10%;
    background: linear-gradient(180deg, rgb(122, 122, 122) 0%, rgb(245, 245, 245) 50%, rgb(162, 162, 162) 100%);
    color: green;
    font-family: Strong;
    margin-right: 8px;
    box-shadow: 10px 10px 25px black;
  }
  .Art-button:hover {
    background: white;
  }
  .border {
    padding: 20px;
  }
  .Home-button {
    cursor: pointer;
    border-radius: 10%;
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
    color: Yellow;
    font-family: Strong;
    margin-right: 8px;
    box-shadow: 10px 10px 25px black;
  }
  .Home-button:hover{
    background: red;
  }
  body {
    background: linear-gradient(180deg, rgb(122, 122, 122) 0%, rgb(245, 245, 245) 50%, rgb(162, 162, 162) 100%);
    color: green;
    font-family: Calibri;
    font-size: 18;
  }