h1 {
  text-align: center;
  color: yellow;
  width: 300px;
  margin: 5px auto;
  font-style: italic;
  font-weight: bold;
}
p {
  width: 1300px;
  line-height: 22px;
  font-size: 24;
}
h2{
  margin-bottom: 0;
}
.socials {
  margin-bottom: 0;
  margin-left: 0;
}
button{
  cursor: pointer;
  font-family: Strong;
  border-radius: 15%;
  box-shadow: 5px 5px 25px red;
}
.Contact_button {
  color: black;
  margin-right: 8px;
  background-color: grey;
  transition: background-color 2s;
  border-radius: 0%;
}
.Contact_button:hover{
  background-color: white;
}
.Ideas-button {
  border-radius: 10%;
  background: linear-gradient(180deg, rgb(74, 14, 122) 0%, rgb(62, 113, 245) 50%, rgb(27, 27, 162) 100%);
  color: White;
}
.Ideas-button:hover{
  background: linear-gradient(180deg, rgb(0, 0, 255) 0%, rgb(0, 0, 255) 50%, rgb(0, 0, 255) 100%);
}

.Games-button {
  border-radius: 10%;
  background: linear-gradient(180deg, rgb(14, 122 , 74) 0%, rgb(113, 245, 62) 50%, rgb(27, 162, 27) 100%);
  color:red;
  margin-left: 8px;
}
.Games-button:hover{
  background: linear-gradient(180deg, rgb(0, 255, 0) 0%, rgb(0, 255, 0) 50%, rgb(0, 255, 0) 100%);;
}
.Games-button:active{
  background-color: black;
}
.Art-button {
  border-radius: 10%;
  background: linear-gradient(180deg, rgb(122, 122, 122) 0%, rgb(245, 245, 245) 50%, rgb(162, 162, 162) 100%) ;
  color: rgb(19, 228, 19);
  margin-left: 8px;
}
.Art-button:hover {
  background: white;
}
.border {
  padding: 20px;
}
.subscribe-button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 80px;
  border-radius: 25px;
  margin-top: 2px;
}
.subscribe-button:hover{
  background-color: white;
  color: black;
}
.follow-button{
  background-color: rgb(254, 44,85);
  color: white;
  border-radius: 4px;
  border: none;
  min-height: 36px;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  box-sizing: border-box;
  min-width: 208px;
  line-height: 22px;
}
.follow-button:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
}
body {
  background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
  color: yellow;
  font-family: Calibri;
  font-size: 24;
}